nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #222;
    color: white;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
  }
  
  input {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
  }
  